<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.laboratory.dao.FilesMapper">
  	
  	<resultMap type="Files" id="BaseMap">
  		<id column="id" property="id"/>
  		<result column="name" property="name"/>
  		<result column="type" property="type"/>
  		<result column="path" property="path"/>
  	</resultMap>

  	
  	<!-- 根据实验设备分类查询 -->
  	<select id="selectByType"  parameterType="Files" resultType="Files" >
  		select *from file where type = #{type}
  	</select>
  	
  	<!-- 查找所有实验设备类型 -->
  	<select id="selectAllTypes" resultType="Files">
  		select * from file
  	</select>
  	
  	<!-- 根据页面的查询条件查询 -->
  	<select id="selectSelective" parameterType="Files" resultType="Files">
  		select * from file 
  		<trim prefix="where" suffixOverrides="and">
  			<if test="name!=null">
  				name like "%"#{name}"%" and
  			</if>
  			<if test="type!=null">
  				type = #{type}
  			</if>
  		</trim>
  	</select>
  	
  	<!-- 根据主键查询 -->
  	<select id="selectByPrimaryKey" parameterType="int" resultMap="BaseMap">
  			select *from file where id = #{id}
  	</select>

  	<!-- 插入设备 -->
  	<insert id="insertSelective" parameterType="Files" >
  		insert into file(name,type,path) values(#{name},#{type},#{path})
  	</insert>
  	
  	<delete id="deleteByPrimaryKey" parameterType="int">
  		delete from file where id =#{id}
  	</delete>
</mapper>